// out: false
.announce-list-container {
  margin: 2rem auto;
  @media (min-width: 992px) {
    margin: 3rem auto;
  }
}
.page-announce-list {
  width: 100%;
  min-height: 20rem;
  li {
    cursor: pointer;
    position: relative;
    width: 100%;
    margin: 0.4rem 0;
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .news-date {
      display: block;
      // padding: 1rem 2rem;
      background-color: @bg-gray;
      color: @color-gray-dark;
      border-radius: 12%;
      margin-right: 10px;
      span {
        display: block;
        text-align: center;
        font-size: 1.3rem;
        display: block;
        width: 7rem;
        &.news-day {
          font-size: 2.2rem;
        }
      }
    }
    .news-info {
      width: calc(100% - 10rem);
      .news-title {
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.4rem;
        font-weight: bold;
        color: @new-unhover-color;
        color: @new-hover-color;
        margin-bottom: 0.5rem;
      }
      .news-intro {
        margin-bottom: 0;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #b3b3b3;
        font-size: 12px;
        line-height: 1.4;
        span {
          color: @new-hover-color;
        }
      }
    }
    &:hover .news-info .news-title {
      color: @new-hover-color;
    }
    transition: all 0.2s;
    @media @tablet{
      .news-date {
        // padding: 0.5rem 3rem;
        margin-right: 30px;
        span {
          font-size: 2rem;
          width: 10rem;
          &.news-day {
            font-size: 3.5rem;
          }
        }
      }
      .news-info {
        width: calc(100% - 10rem);
        .news-title {
          font-size: 1.8rem;
        }
        .news-intro {
          font-size: 16px;
          line-height: 30px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
