// out: false
.breadCrumb-container {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 100%;
  z-index: 1;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 15px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.2s;

  .breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0rem;
    list-style: none;
    margin-bottom: 10px;
    border-radius: 0.25rem;
  }
  .breadcrumb-item {
    transition: all 0.3s;
    font-size: 1.8rem;
    @media @tablet {
    }
    a {
      color: @color-white;
    }
    i {
      vertical-align: middle;
      padding: 0 0.6rem 0 0;
      transition: all 0.3s;
      @media @tablet {
        font-size: 14px;
      }
    }
    &.active {
      color: @color-white;
    }
    & + .breadcrumb-item {
      padding-left: 0.5rem;
      &::before {
        display: inline-block;
        padding: 0 1rem;
        color: @color-white;
        content: '>';
      }
    }
  }

  .path-bor {
    display: flex;
    flex-wrap: wrap;
    .item {
      min-width: 33.33%;
      padding: 0 5px;
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(221, 221, 221, 0.8);
      box-sizing: border-box;
      text-align: center;
      color: #555;
      text-shadow: none;
      line-height: 34px;
      cursor: pointer;
      &.action {
        background-color: hsla(@color-primary-hsl, 1);
        color: #fff;
      }
    }
    transition: all 0.2s;
    @media @tablet {
      .item {
        line-height: 58px;
        padding: 0 10px;
        font-size: 18px;
        min-width: 160px;
      }
    }
  }
}
